.dish_combo {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 860px) {
    .dish_combo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dish_combo {
        grid-template-columns: repeat(1, 1fr);
    }
}

.combo_block {
    box-sizing: border-box;
    text-align: center;

    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 15px;
}

.combo_block div {
    margin: 10px;
    transition: transform 0.3s ease;
}

.combo_block div:hover {
    transform: scale(1.1);
}