.dish_combo {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.combo_block {
    box-sizing: border-box;
    text-align: center;

    display: flex;
    justify-content: center;
}

.combo_block div {
    margin: 10px;
    transition: transform 0.3s ease;
}

.combo_block div:hover {
    transform: scale(1.1);
}