.to_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .order-form {
        /* display: flex; */
        /* justify-content: space-between; */
        max-width: 800px;
        margin: 0 auto;
    }
}

.customer-order,
.customer-data {
    flex: 1;
    margin: 10px;
}

.order-category {
    margin-bottom: 20px;
}

.category-title {
    font-size: 18px;
    margin-bottom: 5px;
}

#order-cost {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.subscribe>#subscribe {
    width: 20px;
    margin: 5px;
}

.time_checkbox>div {
    display: flex;
    align-items: center;
}

select,
input,
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.form_button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    width: 49%;
}

.form_buttons {
    display: flex;
    justify-content: space-between;
}

.subscribe_time {
    width: 20px;
    margin: 5px;
}

label {
    display: block;
    /* margin-top: 10px; */
}