.dish_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish_container {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
    transition: border 0.1s, background-color 0.1s;
}

.dish_container:hover {
    border: 2px solid tomato;
    background-color: #efefef;
}

.dish_container:hover .dish_button {
    background-color: rgb(180, 180, 180);
}

.dish_image {
    width: 100%;
    border-radius: 35px;
}

.dish_price,
.dish_title {
    font-size: 1.5em;
}

.dish_weight {
    color: gray;
}

.dish_button {
    background-color: #f1eee9;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}


@media (max-width: 800px) {
    section>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    section>h2 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    section>div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    section>h2 {
        text-align: center;
    }
}