.dish_nav_button {
    color: darkgreen;
    background-color: white;
    border: 0;
    font-size: large;
    margin: 10px;
}

.order_prise {
    padding: 20px 150px 20px 100px;
    background-color: rgba(245, 245, 245, 0.6);
    color: black;
    font-size: 20px;
    height: 70px;
    width: 105%;
    right: 3%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.order_prise_btn {
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: bisque;
}

.disable {
    background-color: darkgrey;
    color: grey;
    pointer-events: none;
    cursor: not-allowed;
}