* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}



h2 {
    margin: 10px 0 10px;
}

h1 {
    margin: 10px 0 10px;
}

header {
    padding: 20px;
}

header>h1 {
    font-size: 40px;
}

#headerNav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 40%;
    font-size: 20px;
}

#headerNav>li {
    margin: 0 3% 0 3%;
    cursor: pointer;
}

/* #headerNav>li:nth-child(2) {
    color: orange;
} */

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#headerNav>li>a {
    text-decoration: none;
    color: black;
}

#headerNav>li>a.active {
    color: tomato;
}

body {
    margin: 20px;
}

#food {
    width: 60%;
    margin: 10px;
}


table {
    padding: 10px;
    /* border: 5px; */
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 10;
}

td {
    padding: 10;
}

footer {
    padding: 10px;
    margin: 20px 0 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 70px;
}

footer>a {
    text-decoration: underline;
}

.table-cell {
    padding: 5px;
}

.table-start {
    padding: 0;
}